asgiref==3.11.1
channels==4.3.2
channels_redis==4.3.0
Django==6.0.6
django-cors-headers==4.9.0
django-csp==4.0
facenet-pytorch==2.0.1
numpy==2.5.0
opencv-python==5.0.0.93
pillow==12.3.0
psycopg2-binary==2.9.12
python-decouple==3.8
redis==4.6.0
torch==2.12.1
torchvision==0.27.1
ultralytics==8.4.86
ultralytics-thop==2.0.20
uvicorn==0.51.0
whitenoise==6.9.0
